.activities {
    padding: 100px 0 80px;
    background-color: $color-red;

    &__title {
        color: $color-white;
    }

    &__subtitle {
        margin-top: 16px;
        @include text($font-size-26,
            $line-height-no, $letter-spacing-no, 400, $font-noto-sans, $color-white);
        text-align: center;

    }

    &__inner {
        @include display-1280;
        margin-top: 80px;
        padding-top: 80px;
        padding-bottom: 120px;
        background-color: $color-whiteBG;
        border-radius: 33px;

        .hungry-monkey,
        .yakiniku-like {

            &__logo {
                width: 330px;
                height: auto;
                display: block;
                margin: 0 auto;
            }

            &__link {
                margin-top: 30px;
                margin-left: 30px;
                display: block;
                @include text($font-size-18,
                    $line-height-no, $letter-spacing-no, 600, $font-Amiko, #0071BB);
                text-align: center;
            }

            &__title {
                @include text($font-size-46,
                    $line-height-no, $letter-spacing-no, 900, $font-noto-sans, $color-black);
                text-align: center;
                margin-top: 30px;

                span {
                    margin-top: 16px;
                    @include text($font-size-22,
                        $line-height-no, $letter-spacing-no, 500, $font-noto-sans, $color-black);
                    text-align: center;
                    display: block;
                }
            }
        }

        .yakiniku-like {
            margin-bottom: 90px;

            &__logo {
                width: 222px
            }

            &__inner {
                &__block {
                    margin-top: 40px;
                    padding: 0 0 40px;
                    background-color: $color-white;
                    border: 4px solid $color-red;
                    border-radius: 33px;

                    &__title {
                        background-color: $color-red;
                        border-top-left-radius: 28px;
                        border-top-right-radius: 28px;
                        padding: 12px 0 19px;
                        @include text(40px,
                            $line-height-no, $letter-spacing-04, 700, $font-noto-sans, $color-white);
                        text-align: center
                    }

                    &__img {
                        padding: 40px 30px 0;

                    }

                }
            }
        }

        .hungry-monkey {
            &__inner {
                @include display-flex(row, space-between, stretch);
                flex-wrap: wrap;
                margin-top: 40px;
                padding: 40px 30px;
                background-color: $color-white;
                border: 4px solid $color-red;
                border-radius: 33px;


                &__block {
                    width: 30%;
                    @include display-flex(column, flex-start, flex-start);
                    row-gap: 14px;

                    &__img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }

                    &__title {
                        @include text($font-size-30,
                            $line-height-no, $letter-spacing-no, 700, $font-noto-sans, $color-black);
                    }

                    &__engtitle {
                        @include text($font-size-26,
                            $line-height-no, $letter-spacing-no, 700, $font-noto-sans, $color-black);
                    }

                    &__price {
                        @include text($font-size-38,
                            $line-height-no,
                            $letter-spacing-no,
                            700,
                            $font-noto-sans,
                            #E53323);
                    }

                    &__detail {
                        @include text($font-size-22,
                            $line-height-md, $letter-spacing-no, 500, $font-noto-sans, $color-black);
                    }
                }

                &__v-line {
                    display: block;
                    height: auto;
                    width: 2px;
                    background-color: $color-red;
                }
            }
        }
    }
}

@include mq(w-768) {
    .activities {
        background-color: $color-red;
        @include display-100sp;
        padding-top: 40px;
        padding-bottom: 40px;

        &__subtitle {
            margin-top: 16px;
            @include text($font-size-22,
                $line-height-sm, $letter-spacing-no, 400, $font-noto-sans, $color-white);
            text-align: center;
        }

        &__inner {
            @include display-100sp;
            margin-top: 40px;
            padding-top: 40px;
            padding-bottom: 40px;

            .hungry-monkey,
            .yakiniku-like {

                &__link {
                    margin-top: 30px;
                    margin-left: 30px;
                    display: block;
                    @include text($font-size-22,
                        $line-height-no, $letter-spacing-no, 600, $font-Amiko, #0071BB);
                    text-align: center;
                }

                &__title {
                    @include text($font-size-33,
                        $line-height-no, $letter-spacing-no, 900, $font-noto-sans, $color-black);

                    span {
                        @include text($font-size-18,
                            $line-height-no, $letter-spacing-no, 500, $font-noto-sans, $color-black);
                    }
                }
            }

            .yakiniku-like {
                margin-bottom: 60px;

                &__inner {
                    &__block {
                        margin-top: 40px;
                        padding: 0 0 40px;
                        background-color: $color-white;
                        border: 4px solid $color-red;
                        border-radius: 33px;

                        &__title {
                            @include text($font-size-30,
                                $line-height-no, $letter-spacing-04, 700, $font-noto-sans, $color-white);
                        }

                        &__img {
                            padding: 40px 0 0;

                        }

                    }
                }
            }

            .hungry-monkey {
                &__inner {
                    @include display-flex(column, center, center);
                    row-gap: 26px;
                    padding: 30px 20px;
                    border-radius: 33px;


                    &__block {
                        width: 100%;
                        @include display-flex(column, flex-start, flex-start);
                        row-gap: 6px;

                        &__img {
                            border-radius: 6px;
                        }

                        &__title {
                            @include text($font-size-26,
                                $line-height-no, $letter-spacing-no, 700, $font-noto-sans, $color-black);
                        }

                        &__engtitle {
                            @include text($font-size-22,
                                $line-height-no, $letter-spacing-no, 700, $font-noto-sans, $color-black);
                        }

                        &__price {
                            @include text($font-size-36,
                                $line-height-no,
                                $letter-spacing-no,
                                700,
                                $font-noto-sans,
                                #E53323);
                        }

                        &__detail {
                            margin-top: 12px;
                            @include text($font-size-18,
                                $line-height-md, $letter-spacing-no, 500, $font-noto-sans, $color-black);
                        }
                    }

                    &__v-line {
                        display: block;
                        height: auto;
                        width: 2px;
                        background-color: $color-red;
                    }
                }
            }
        }
    }

}
