.menu {
    background: $color-black;
    padding: 120px 0 90px;

    &__title {
        color: $color-gold;
    }

    &__subtitle {
        margin: 12px auto 74px;
        @include text(22px, 120%, $letter-spacing-no, 500, $font-Poppins, $color-gold);
        text-align: center;
    }

    &__block {
        @include display-1440;
        @include display-flex(row, space-between, center);

        &:not(:last-child) {
            margin-bottom: 46px;
        }

        &:nth-child(2n) {
            .menu__block__content {
                order: 1;
            }

            .menu__block__img {
                order: 0;
            }
        }

        &__content {
            width: 49%;

            &__title {
                @include text(42px, $line-height-no, $letter-spacing-no, 500, $font-Cinzel, $color-gold);
            }

            &__detail {
                margin-top: 20px;
                @include text(18px, 160%, $letter-spacing-no, 500, $font-Poppins, $color-white);
            }
        }

        &__img {
            width: 48%;
            max-width: 620px;
        }
    }

    &__banner {
        @include display-1440;

        &__content {
            padding: 90px 60px;
            background-color: #caa130;
            @include text($font-size-22, $line-height-md, $letter-spacing-no, 500, $font-Poppins, $color-black);
            text-align: center;
        }
    }
}

@include mq(w-768) {

    .menu {
        background: $color-black;
        padding: 80px 0 60px;

        &__subtitle {
            margin: 12px auto 40px;
            font-size: 20px;
            text-align: center;
        }

        &__block {
            @include display-100sp;
            @include display-flex(column, flex-start, flex-start);
            row-gap: 20px;

            &:not(:last-child) {
                margin-bottom: 46px;
            }


            &__content {
                order: 1;
                width: 100%;

                &__title {
                    font-size: 36px;
                }

                &__detail {
                    margin-top: 20px;
                    font-size: 18px;
                }
            }

            &__img {
                order: 0;
                width: 100%;
                max-width: 100vw;
            }
        }

        &__banner {
            @include display-100sp;

            &__content {
                padding: 40px 20px;
                font-size: 18px;
                line-height: 130%;
            }
        }
    }

}
