header {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    z-index: 99;
    background: url(../images/navi-bg.png) 0 0 repeat-x;


    .header__inner {
        max-width: 1440px;
        margin: 0 auto;
        padding: 23px 4.3% 23px 2%;
        @include display-flex(row, space-between, center);

        &__logo {
            display: block;
            width: 340px;
        }

        &__navi {
            @include display-flex(row, flex-start, center);

            &--item {
                text-decoration: none;
                @include text($font-size-18, $line-height-no, $letter-spacing-no, 400, $font-noto-serif, $color-white);
                padding: 0 20px;

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}


@include mq(w-1280) {
    header {
        position: fixed;
        top: 0;
        height: 50px;
        width: 100%;
        z-index: 99;
        background: #101010;
        background-image: none;


        .header__inner {
            max-width: 100vw;
            padding: 0;
            display: block;
            z-index: 99;

            &__logo {
                display: block;
                width: 260px;
                padding: 16px 6px;
            }

            &__navi {
                position: fixed;
                top: -100%;
                @include display-flex(column, center, center);
                row-gap: 30px;
                width: 100vw;
                background-color: #101010;
                transition: all .4s;
                padding: 60px 0;
                z-index: 80;
                box-shadow: 0px 7px 6px 3px #000;

                &.active {
                    top: 50px;
                }

                &--item {
                    text-decoration: none;
                    @include text($font-size-28, $line-height-sm, $letter-spacing-no, 400, $font-noto-serif, $color-white);
                    padding: 0;

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    .openbtn1 {
        z-index: 99;
        position: fixed;
        top: 2px;
        right: 2px;
        background: $color-black;
        cursor: pointer;
        width: 60px;
        height: 46px;
        border-radius: 5px;
    }

    /*ボタン内側*/
    .openbtn1 span {
        display: inline-block;
        transition: all .4s;
        /*アニメーションの設定*/
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        width: 45%;
    }

    .openbtn1 span:nth-of-type(1) {
        top: 15px;
    }

    .openbtn1 span:nth-of-type(2) {
        top: 23px;
    }

    .openbtn1 span:nth-of-type(3) {
        top: 31px;
    }

    /*activeクラスが付与されると線が回転して×に*/

    .openbtn1.active span:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
    }

    .openbtn1.active span:nth-of-type(2) {
        opacity: 0;
        /*真ん中の線は透過*/
    }

    .openbtn1.active span:nth-of-type(3) {
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
    }
}
